body {
    padding-top:50px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 40px;
    padding: 20px;
    padding-left: 40px;
    background: #7bacb34d;
}
legend {
   color: rgb(90, 149, 163);
}

.form-control {
    text-align: center;
    width: 95%;
    border-radius: 100px;
}
.form-group{
text-align: center;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}